<tr>
  <td class="label"><label for="page_tags">Tags</label></td>
  <td class="field"><input class="textbox" id="page_tags" name="page[meta_tags]" size="160" type="text" value="<%= @page.tag_list %>" /></td>
</tr>